<table class='table table-bordered'>
  <thead>
    <tr>
      <th　width="80">ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td　width="80">
        <% genres.each do |genre| %>
          <%= link_to genre.name, item_search_path(@genre) %>
        <% end %></br>
      </td>
    </tr>
  </tbody>
</table>